@mixin transition {
    opacity: 0; transition-delay: .5s; transition-duration: .3s; transition-timing-function: ease-in-out;
}

@mixin font($size,$color){
    font-size: $size; font-family: 'Noto Sans'; color: $color;
}

@mixin flex($direction,$justify-content,$align-items){
    display: flex; flex-direction: $direction; justify-content: $justify-content; align-items: $align-items;
}

@mixin absoluteCenter(){
    position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
}

:where(.timerWrap,.messageWrap,.quotesArea,.questionWrap){@include transition()}

#bg{position: relative; width: 100%; height: 100vh;
    >img{position: absolute; display: flex; width: inherit; height: inherit; object-fit: cover;
    z-index: -1;}
    &:after{content: ''; @include absoluteCenter(); width: 100%; height: 100vh; 
    background-color: rgba($color: #000, $alpha: 0.2); backdrop-filter: blur(3px); z-index: -1;}
}

.loadingBg{position: absolute; width: 100%; height: 100%; background-color: #f4f4f4; 
    #loading{@include flex(column,flex-start,center); @include absoluteCenter();
        p{margin-top: 20px; font-size: 14px;}
    }
}

.center{position: relative; @include flex(column,center,center); height: 100%;
padding: 0 40px; z-index: 10;
    .reason{margin-bottom: 20px; @include font(16px,#000);}
}

.column{position: relative; @include flex(column,center,center); width: 100%;
    .keyHint{position: absolute; bottom: -35px; opacity: 0; @include font(16px,#fff); 
    transition: .3s ease-in-out;
        &.active{opacity: 1;}
    }
}

.btn{height: 38px; border-radius: 4px; padding: 0 12px; transition: .3s ease-in-out;
    span{font-size: 16px; font-family: 'Noto Sans';}
    &.btnHome{border: 1px solid #212529; background-color: #212529; color: #fff;
        &:hover{border-color: #424649; background-color: #424649;}
    }
}

.questionWrap{
    &.active{opacity: 1;}
}

.question{padding-bottom: 30px; font-size: 54px; color: #fff; text-align: center;}

input[type="text"]{width: 100%; height: 62px; font-size: 54px; color: #fff; border: transparent; border-bottom: 3px solid #fff;
background-color: transparent; padding: 0; padding-bottom: 10px;
    &.center{text-align: center;}
}

.timerWrap{display: flex; line-height: 170px;
    .timer{font-size: 168px; color: #fff;}
    &.active{opacity: 1;}
}

.messageWrap{@include font(54px,#fff);
    &.active{opacity: 1;}
    .defaultMsg{margin: 0 3px;}
}

.weatherWrap{position: absolute; top: 5px; right: 15px;
    .weatherContainer{display: flex; align-items: center;
        .weatherImg img{height: 30px; object-fit: none;}
    }
    .weatherDesc{@include flex(column,center,center); margin: -4px 0 0 7px;
        .temp{@include font(20px,#fff);}
    }
    .location{position: absolute; top: 27px; right: 0;
        .locationName{@include font(14px,#fff);}
    }
}

.quotesArea{position: absolute; bottom: 20px; text-align: center;
    .quote{margin-bottom: 5px; @include font(18px,#fafafa);}
    .author{@include font(16px,#fff);}
    &.active{opacity: 1;}
    &:hover .toolTip.quotes{opacity: 1;}
}

.toolTip{opacity: 0; transition: .3s ease-in-out; transition-property: opacity; position: absolute; display: flex; 
align-items: center; height: 30px; padding: 0 7px; @include font(16px,#fff); border-radius: 4px; 
background-color: rgba($color: #000, $alpha: 0.5);
    button{font-size: inherit; font-family: inherit; color: inherit;}
    &.quotes{top: -40px; left: 50%; transform: translateX(-50%);}
}

.todayWrap{flex: 0.7; display: flex; flex-direction: column; justify-content: flex-end; 
@include font(35px,#fafafa); text-align: center;
    .txt{margin-bottom: 10px;}
   input[type="text"]{height: 42px; font-size: 24px; padding-bottom: 0;}
}

.centerContainer{position: absolute; @include flex(column,center,center);}